{{! markers need to be placed in sections above desired navigation section to compensate for the navbar! }}

<div id="purpose" role="marker" style="height: 70px;"></div>

<nav id="nav" class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" href="https://github.com/ChrisHonniball/ember-sortable-list">ember-sortable-list</a>
    </div>

    <div class="collapse navbar-collapse" id="main-nav">
      <ul class="nav navbar-nav">
        <li><a href="#purpose">Purpose</a></li>
        <li><a href="#installation">Installation</a></li>
        <li><a href="#project-status">Project Status</a></li>
        <li><a href="#examples">Examples</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Purpose</h2>
  <p class="lead">
    <code>ember-sortable-list</code> Ember CLI addon component to add a jQuery UI sortable list to your templates.
  </p>

  <div id="installation" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Installation</h2>
  <pre>ember install ember-sortable-list</pre>

  <div id="project-status" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Project Status</h2>
    <p class="lead">
    <span class="label label-danger">Rapid Development</span>&nbsp;
    This addon <em>will</em> change rapidly at this stage and <em>may</em> not be fully functional.

    {{!
    <span class="label label-success">Stable</span>&nbsp;
    <a href="https://github.com/ChrisHonniball/ember-sortable-list/releases/latest">Stable version released</a>. All additional development will be tagged as a new release.
    }}
  </p>

  <div id="examples" role="marker"></div>
</div>

<div class="clearfix"></div>
<hr>

<div class="col-lg-10 col-lg-offset-1 col-md-12">
  <h2>Examples</h2>

  <div class="col-md-6 col-sm-12">
    <h3>Standard Mark-up</h3>
<pre>&lt;ul&gt;
  &lt;li&gt;Some Item 1&lt;/li&gt;
  &lt;li&gt;Some Item 2&lt;/li&gt;
  &lt;li&gt;Some Item 3&lt;/li&gt;
  &lt;li&gt;Some Item 4&lt;/li&gt;
&lt;/ul&gt;</pre>
  </div>
  
  <div class="col-md-6 col-sm-12">
    <h3>Component Mark-up</h3>
<pre>\{{#ember-sortable-list}}
  &lt;li&gt;Some Item 1&lt;/li&gt;
  &lt;li&gt;Some Item 2&lt;/li&gt;
  &lt;li&gt;Some Item 3&lt;/li&gt;
  &lt;li&gt;Some Item 4&lt;/li&gt;
\{{/ember-sortable-list}}</pre>
  </div>
  
</div>

<div class="clearfix"></div>
<hr>

<div class="col-xs-12 text-center lead">
  Created by <a href="https://github.com/ChrisHonniball">@ChrisHonniball</a>
</div>
